<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
	<meta charset="UTF-8">

	{# Meta Tags Custom #}
	<meta name="theme-color" content="#ffffff">

	{{ idm_seo_meta() }}

	{{ idm_seo_open_graph() }}

	{{ idm_seo_twitter() }}

	<title>{{ idm_seo_title() }}</title>
</head>
<body>
	<main class="flex items-center justify-center">
		<h1>{{ idm_seo_title_page() }}</h1>
	</main>
</body>
</html>
